/* Element Selector */
h1 {
    color: #333;
  }
  
  /* Class Selector */
  .grid-container div {
    border: 2px solid blue;
  }
  
  /* ID Selector */
  #unique {
    background-color: yellow;
  }
  
  /* Group Selector */
  p, li {
    color: #555;
  }
  
  /* Descendant Selector */
  section p {
    font-style: italic;
  }
  
  /* Child Selector */
  section > h2 {
    text-transform: uppercase;
  }
  
  /* Adjacent Sibling Selector */
  h2 + p {
    color: red;
  }
  
  /* General Sibling Selector */
  h2 ~ ul {
    color: green;
  }
  
  /* Attribute Selector */
  input[type="text"] {
    border: 2px solid red;
  }
  
  /* Pseudo-class */
  a:hover {
    color: orange;
  }
  
  li:first-child {
    font-weight: bold;
  }
  
  /* Pseudo-element */
  p::first-letter {
    font-size: 2em;
    color: blue;
  }
  